.legendLinear text {
    font-size: 12px;
}
.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  overflow: visible !important;
}


#document {
    overflow: visible !important;
}